In [30]:
import altair as alt
import numpy as np
import pandas as pd
import streamlit as st
import datetime as dt

# Impact of high fees on pension pot

In [31]:
current_year = dt.datetime.now().year
print(current_year)

2024

In [32]:
starting_amount=st.number_input("Starting amount",1,1000000,100000)
interest_rate=st.number_input("Stock market growth",0,100,10)
vanguard_fees=st.number_input("Vanguard fees %age",0.0,100.0,0.14)
active_fees=st.number_input("Active management fees %age",0.0,100.0,1.5)
number_of_years=st.number_input("Number of years",0,100,40)

delta_rate1=1+((interest_rate-vanguard_fees)/100)
delta_rate2=1+((interest_rate-active_fees)/100)

In [33]:
year_series=\
    (
        pd
        .date_range
        (
            start=str(current_year),
            periods=number_of_years,
            freq="1YS"
        )
    )
year_series

DatetimeIndex(['2024-01-01', '2025-01-01', '2026-01-01', '2027-01-01',
               '2028-01-01', '2029-01-01', '2030-01-01', '2031-01-01',
               '2032-01-01', '2033-01-01', '2034-01-01', '2035-01-01',
               '2036-01-01', '2037-01-01', '2038-01-01', '2039-01-01',
               '2040-01-01', '2041-01-01', '2042-01-01', '2043-01-01',
               '2044-01-01', '2045-01-01', '2046-01-01', '2047-01-01',
               '2048-01-01', '2049-01-01', '2050-01-01', '2051-01-01',
               '2052-01-01', '2053-01-01', '2054-01-01', '2055-01-01',
               '2056-01-01', '2057-01-01', '2058-01-01', '2059-01-01',
               '2060-01-01', '2061-01-01', '2062-01-01', '2063-01-01'],
              dtype='datetime64[ns]', freq='YS-JAN')

In [34]:
df=\
    (
        pd
        .DataFrame
        (
            {
                "year":year_series
            }
        )   
    )

df["Year"]=df["year"].dt.strftime("%Y").astype("int64")
df.head(5)

        year  Year
0 2024-01-01  2024
1 2025-01-01  2025
2 2026-01-01  2026
3 2027-01-01  2027
4 2028-01-01  2028

In [38]:
df["year"]=df["Year"]-current_year
df["Vanguard"]=round((starting_amount*(delta_rate1**df["year"])),2)
df["Active Management"]=round((starting_amount*(delta_rate2**df["year"])),2)
df["diff"]=df["Vanguard"]-df["Active Management"]
df["diff_percent"]=(df["diff"]/df["Active Management"])*100
df.tail(10)

    year  Year    Vanguard  Active Management        diff  diff_percent
30    30  2054  1679530.29         1155825.16   523705.13     45.310065
31    31  2055  1845131.98         1254070.30   591061.68     47.131463
32    32  2056  2027061.99         1360666.28   666395.71     48.975691
33    33  2057  2226930.30         1476322.91   750607.39     50.843036
34    34  2058  2446505.63         1601810.36   844695.27     52.733787
35    35  2059  2687731.08         1737964.24   949766.84     54.648238
36    36  2060  2952741.37         1885691.20  1067050.17     56.586687
37    37  2061  3243881.67         2045974.95  1197906.72     58.549432
38    38  2062  3563728.40         2219882.82  1343845.58     60.536780
39    39  2063  3915112.02         2408572.86  1506539.16     62.549038

In [37]:
max=df["year"].max()
max

39

In [74]:
year=int(df.query('year==@max')["Year"].to_string(index=False))
v_amount=float(df.query('year==@max')["Vanguard"].to_string(index=False))
a_amount=float(df.query('year==@max')["Active Management"].to_string(index=False))
diff=float(df.query('year==@max')["diff"].to_string(index=False))
diff_percent=float(df.query('year==@max')["diff_percent"].to_string(index=False))

In [90]:
x="After {} years, using an active fund lost you £{:,}, returning only £{:,}, rather than Vanguard's £{:,}, a difference of {:.2f}%".format(max+1,diff,a_amount,v_amount,diff_percent)
print(x)

After 40 years, using an active fund lost you £1,506,539.16, returning only £2,408,572.86, rather than Vanguard's £3,915,112.02, a difference of 62.55%